* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	background-color: whitesmoke;
}

header {
	text-align: center;
	background-color: firebrick;
}

#linksHeader {
	padding-bottom: 8px;
}

.links {
	text-decoration: none;
	margin: 8px;
	padding: 5px;
	color: white;
}

.links:hover {
	border-bottom: solid white 1px;
}

#imagemHeader {
	padding: 10px;
}
