* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	background-color: whitesmoke;
}

header {
	text-align: center;
	background-color: firebrick;
}

#areaLinks {
	padding-bottom: 8px;
}

a {
	text-decoration: none;
}

.links {
	margin: 8px;
	padding: 5px;
	color: white;
}

.links:hover {
	border-bottom: solid white 1px;
}

#areaImagemHeader {
	padding: 10px;
}

main {
	width: 920px;
	margin: 0 auto;
	padding: 15px;
}

h2 {
	color: firebrick;
}

h3 {
	background-color: firebrick;
	color: white;
	padding: 5px;
}

#areaPostagens {
	width: 660px;
	float: left;
}

.postagem {
	padding: 20px;
	margin-bottom: 20px;
	background-color: white;
}

.menuLateral {
	width: 240px;
	float: right;
}

.dataPostagem {
	font-size: 0.8em;
	border-bottom: 1px solid brown;
	padding-bottom: 10px;
	margin-bottom: 10px;
	display: block;
}

.linkPostagem,
.linkPostagemLateral,
.linksCategorias {
	color: firebrick;
}

.linkPostagem:hover,
.linkPostagemLateral:hover,
.linksCategorias:hover {
	text-decoration: underline;
}

.conteudoLateral {
	background-color: white;
	padding: 10px;
	margin-bottom: 20px;
}

.postagemLateral {
	font-size: 0.8em;
	padding: 5px;
	border-bottom: 1px dotted red;
}

.textoPostagemLateral {
	margin-bottom: 5px;
}

#categorias {
	margin: 10px;
}

.linksCategorias {
	padding: 2px;
	display: block;
}

.conteudoListaLateral {
	margin-left: 20px;
}

.listaLateral {
	margin-top: 10px;
}
footer {
	clear: both;
	background-color: brown;
	color: white;
	text-align: center;
	padding: 15px;
}
