* {
	margin: 0;
	padding: 0;
}

:root{
	--corPrimaria: firebrick;
	--corSecundariaContraste: brown;
}

body {
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	background-color: whitesmoke;
}

header {
	text-align: center;
	background-color: var(--corPrimaria);
}

footer {
	clear: both;
	background-color: var(--corSecundariaContraste);
	color: white;
	text-align: center;
	padding: 2%;
}

a {
	text-decoration: none;
}

main {
	width: 70%;
	margin: 0 auto;
	padding: 2%;
	
}

h2 {
	color: var(--corPrimaria);
}

h3 {
	background-color: var(--corPrimaria);
	color: white;
	padding: 2%;
}
img{
	width: 100%;
	min-width: 30%;
}
.conteudoLateral {
	background-color: white;
	padding: 2%;
	margin-bottom: 5%;
}

.menuLateral {
	width: 25%;
	float: right;
}

.areaPostagens {
	width: 70%;
	float: left;
}


/* postagensHorizontal */
.postagem {
	padding: 5%;
	margin-bottom: 5%;
	background-color: white;
}

.dataPostagem {
	font-size: 0.8em;
	border-bottom: 1px solid var(--corSecundariaContraste);
	padding-bottom: 10px;
	margin-bottom: 10px;
	display: block;
}

.linkPostagem,
.linkPostagemLateral{
	color: var(--corPrimaria);
}

.linkPostagem:hover,
.linkPostagemLateral:hover {
	text-decoration: underline;
}
/* postagensHorizontal */

/* postagem Especificas novidades.html */
.postagemEspecialNovidades{
	width: 42%;
	float: left;
	background-color: white;
	margin: 1%;
	padding: 3%;
}

/* postagem Especificas novidades.html */


/* postagensLateral */
.postagemLateral {
	font-size: 0.8em;
	padding: 2%;
	border-bottom: 1px dotted red;
}

.textoPostagemLateral {
	margin-bottom: 2%;
}
/* postagensLateral */

/* Lista Lateral */
.conteudoListaLateral {
	margin-left: 8%;
	padding: 1%;
}

.listaLateral {
	margin-top: 2%;
}

#linkTabelaAnime{
	text-align: center;
	padding-top: 5px;
}
/* Lista Lateral */

/* barra de navegação vertical */
.categorias {
	margin: 3%;
}

.categoriaLista, .categoriaAnime{
	list-style-type: none;
}

.categoriaLista a, .categoriaAnime a {
	padding: 1%;
	display: block;
	border: solid white 1px;
	line-height: 40px;
	text-indent: 10px;
	background-color: var(--corSecundariaContraste);
	color: white;
}

.categoriaLista a:hover, 
.categoriaAnime a:hover,
#manga .conteudoLateral .manga a,
#loja .conteudoLateral .loja a,
#animes .conteudoLateral .anime a,
#novidades .conteudoLateral .novidades a
{
	background-color: white;
	color: var(--corSecundariaContraste);
	border: solid var(--corSecundariaContraste) 1px;
	text-decoration: underline;
}
/* barra de navegação vertical */

/* barra de navegação horizontal */
#areaImagemHeader {
	padding: 1%;
}
#areaImagemHeader img{
	width: 7%;
	min-width: 5%;
}

ul.horizontalLista {
	padding-bottom: 2%;
}

ul.horizontalLista li{
	display: inline-block;
}
ul.horizontalLista a{
	padding: 0 2em 10px;
	line-height: 2em;
	color: white;
}

ul.horizontalLista a:hover,
#index .horizontalLista .home a,
#manga .horizontalLista .manga a,
#loja .horizontalLista .loja a,
#animes .horizontalLista .anime a,
#tabelaAnime .horizontalLista .anime a,
#novidades .horizontalLista .novidades a
{
	border-bottom: solid white 1px;
}
/* barra de navegação horizontal */


/* tabela Anime */
#animeTabela{
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 10px;
}

#animeTabela thead{
	background-color: var(--corPrimaria);
	color: white;
}

#animeTabela, th, td{
	border-color: var(--corPrimaria);
	border-style: none none solid none;
	border-width: 2px;
	padding: 3%;
}

#animeTabela th{
	font-size: 90%;
	letter-spacing: 0.1em;
}

#animeTabela tr:hover{
	background-color: var(--corSecundariaContraste);
	color: white;
}


.categoriasAnimeEsquerda{
	text-align: left;
}
/* tabela Anime */


#conteudoCriarConta{
	width: 70%;
	margin: auto;
}

#criarConta fieldset {
	padding: 1em;
	border: 1px solid var(--corPrimaria);
	background-color: white;
	margin: 1em 0;
}

#criarConta legend {
	font-weight: bold;
}

#criarConta label{
	cursor: pointer;
	display: block;
}

#criarConta input{
	width: 90%;
	margin: 3%;
	padding: 2%;
}

#criarConta textarea{
	width: 100%;
	height: 10em;
}

